$btn_color: #e74c3c !important;
$theme_color : #3a3a3a;

* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
}

figure {
    margin: 0;
}

.btn-hb {
    border: 3px solid $theme_color;
    box-shadow: 4px 4px $theme_color !important;
}

.error {
    color: red;
}

/* Full-width input fields */
input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=select],
input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 2px solid $theme_color;
    box-sizing: border-box;
    border-radius: 5px;
    // background-color: #e8f0fe;
}